.listItemType, .listItemTime, .listItemSpacer{
    display: none;
}

.listItemIcon{
    margin-left:auto;
    margin-right: 0px;
}

.listItemDetails{
    margin-right: 10px;
}

.rightSideBar{
    width: 250px !important;
}

.mainContent{
    width: calc(100% - 260px) !important;
}

.filterSelectBox, #sortby{
    font-size: 78%;
}

.listItemName{
    width: calc(100% - 75px);
}