/* FONTS */
@font-face {
    font-family: 'rifficons';
    src: url('fonts/rifftideicons.woff') format('woff'),
         url('fonts/rifftideicons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RennerLight';
    src: url('fonts/renner-light-webfont.woff2') format('woff2'),
         url('fonts/renner-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}
@font-face {
    font-family: 'Renner';
    src: url('fonts/renner-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/renner-lightitalic-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: italic;

}
@font-face {
    font-family: 'Renner';
    src: url('fonts/renner-medium-webfont.woff2') format('woff2'),
         url('fonts/renner-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Renner';
    src: url('fonts/renner-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/renner-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    margin:0px;
    font-family: 'Renner';
}

.icon{
    font-family: 'rifficons' !important;
}

.content{
    position: relative;
    font-size: 5rem;
    width: 100vw;
    height: 100vh;
}

.pointer{
    cursor: pointer;
    opacity: .8;
}
.pointer:hover{
    opacity: 1;
}

.black_cover{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
    opacity: .4;
}
.white_cover{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: white;
    opacity: .4;
}

.color-cover{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: .4;
}

.blue{
    background-color:blue;
}

/* FLEXES */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.flex-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* GRID */ 
.grid-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
}
.grid-card{
    border:10px solid;
    width: 90%;
    height: 400px;
    background-position: center;
    background-size:cover;
    position: relative;
    text-align: center;
    margin:20px;
    border-radius: 15px;
}

.blue_card{
    background-image: url('../images/blue_velvet.jpg');
    border-color: rgba(255, 255, 255, 0.623);
}
.red_card{
    background-image: url('../images/red_velvet.jpg');
}
.pink_card{
    background-image: url('../images/pink_velvet.jpg');
}
.orange_card{
    background-image: url('../images/orange_velvet.jpg');
}
.green_card{
    background-image: url('../images/green_velvet.jpg');
}
.white_card{
    background-image: url('../images/white_velvet.jpg');
}
/* HEADERS */
.header{
    font-family: 'Renner','RennerLight','Century Gothic';
}

.xxs{
    font-size:25%;
}
.xs{
    font-size: 50%;
}
.sm{
    font-size: 85%;
}
.md{
    font-size:100%;
}
.lg{
    font-sizE:125%;
}
.xl{
    font-size: 150%;
}
.xxl{
    font-size: 175%;
}
.xxxl{
    font-size: 200%;
}

/* COLORS */ 
/* Set main color themes here:  */
.white-text{
    color:white;
}
.theme-text-1{
    color:rgba(207, 180, 27, 0.911);
}
.theme-text-2{
    color:rgb(17, 17, 104)
}

/* BACKGROUND IMAGES */
.backImage{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.backImage img{
    width: 100vw;
    height: calc(100vh + 10px);
    margin-top: -10px;
    object-fit: cover;
}
/* Set main backgroudn images here */
.back-image-1{
    background-image:url('../images/farstage.jpg');
    background-position: top;
    background-size:cover;

}
.back-image-2{
    background-image:url('../images/blue_stage.jpg');
    background-position: top;
    background-size:cover;
}

/* CONTENT LAYOUT */ 
.left-aside{
    position: absolute;
    width: 33vw;
    top:-10px;
    left: -10px;
    height: calc(100vh - 20px);
    transition:left 1s;
    z-index: 100;
}
.right-aside{
    position: absolute;
    width: 33vw;
    top:-10px;
    right: 30px;
    height: calc(100vh - 20px);
    transition:right 1s;
}
.left-aside-container{
    border: 10px solid rgb(6, 6, 104);
    border-image-slice: 1;
    border-image-source: radial-gradient(#18009e, #93ddff,#18009e);
    background-color: rgba(0, 0, 0, 0.979);
width: 100%;
position: relative;
height: 100%;
}
.left-aside-button{
    background-color: #18009e;
    width:50px;
    height: 50px;
    position: absolute;
    right: -60px;
    border-radius: 0px 5px 5px 0px;
    top:0;
    font-size: 2rem;
    z-index: 800;
    box-shadow: rgba(0, 0, 0, 0.486) 10px 5px 10px;
}

.right-aside-button{
    background-color: rgb(6, 6, 104);
    width:50px;
    height: 50px;
    position: absolute;
    left: -60px;
    border-radius: 5px 0px 0px 5px;
    top:0;
    font-size: 2rem;
    font-family: 'Renner';
}

.left-aside-content{
    width: 100%;
    height: 100%;
    position: absolute;
    left:-10px;
    box-shadow: rgba(0, 0, 0, 0.479) 5px 0px 10px;
}

.hidden-left-aside{
    left: calc(-33vw - 20px);
    transition:left 1s;
}

.hidden-right-aside{
    right: calc(-33vw + 20px);
    transition:right 1s;
}

.videoBack{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    z-index: 0;
    object-fit: cover;
}

.loadScreen{
    width: 90vw;
    height: 90vh;
    position: absolute;
    z-index: 1000;
    border:10px solid;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 0px 25px black;
}

.loadScreen img{
    max-width: 90%;
    height: auto;
}

.fakeLink{
    opacity: 1;
    cursor: pointer;
}

.fakeLink:hover{
    opacity: .8;
}

.loadLink{
    font-family: 'Renner';
    color: goldenrod;
    font-size: 4rem;
    text-shadow: black 5px 5px 5px;
}

.toolKit{
    position: absolute;
    z-index: 1;
    filter: grayscale(100%) brightness(100%);
    right:10px;
    bottom: 0;
}

.toolKit img{
    opacity: .4;
    width: 40px;
    padding: 5px;
}

.toolKit img:hover{
    opacity: .8;
}

#mainButtons{
    width: 100%;
    position: relative;
}