input{
    width: 80%;
    text-align: center;
    margin:0px;
    padding:10px;
    border:10px solid rgb(0, 0, 0);
    color:white;
    font-family: 'Renner';
    font-size: 3rem;
}

.team_one_back{
    background: rgba(53, 52, 0, 0.363);
    border:rgba(179, 182, 98, 0.596) 10px solid;
}

.team_two_back{
    background: rgba(3, 70, 14, 0.363);
    border:rgba(71, 145, 100, 0.534) 10px solid;
}

/* QUESTIONS */ 
.question_div, .answer_div {
    border:10px rgba(7, 1, 95, 0.521) solid;
    background-color: black;
}

.question_container{
    padding:10px;
    width:80vw;
}
.question_div{
    border:10px rgba(95, 89, 1, 0.521) solid;
    width: 100%;
    text-align: center;
}
.answer_row:{
   width:100%;
}
.answer_div{
    margin:5px;
    padding:20px;
    width:50%;
}
.answer_text{
    font-size: 3rem;
}