.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:row;
}

.loadScreen{
    background-color: rgba(0, 0, 0, 0.824);
}

#loading_players_div{
    width: 90%;
    height:80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.loading_player_div{
    height:100%;
    box-shadow: inset white 0px 0px 5px  5px;
    padding:5px;
    background: rgba(0, 0, 0, 0.76);
}

.loading_player_div img{

    max-width: 100%;
    height:100%;
    max-height: unset;
    object-fit: cover;
}

.loadLink{
    color:white;
    font-size: 170%;
}

.loading_player_div img:hover{
    opacity: .8;
    zoom: 1.3;
}
#audiosContainer{
    display: hidden;
}

#left_side{
    width: 75vw;
    
}

.hiddenToLeft{
    transform: translate(-110%) !important;
    transition: all 2.5s ease-in-out;
}

.hiddenToRight{
    transform: translate(110%) !important;
    transition: all 2.5s ease-in-out;
}


#right_side{
    max-height: 100vh;
    width:25vw;
    background:rgba(0, 0, 0, 0.735);
    border: solid 10px rgb(91, 0, 0);
    overflow-y: auto;
    overflow-x: hidden;
    align-items: flex-start;
    transform: none;
    transition: all 2.5s ease-in-out;
}

.player_icon{
    width:3.5vw;
    height:3.5vw;
    position: absolute;
  top: 0%;
  left: 0%;
}

.origin_box{
    width:3.5vw;
    height:3.5vw;
    border: solid rgba(152, 152, 152, 0.329) 1px;
    position: relative;
    border-radius: 5px;
}

.destination_box{
    width:3.5vw;
    position: relative;
    height:3.5vw;
    border: solid rgb(255, 196, 0) 2px;
    border-radius: 5px;
    margin:2px;
}


.destination_box > img{
    filter: unset
}

.episode_members{
    padding:5px
}

.episode_advancements{
    margin-bottom:10px;
}

.episode_title{
    padding:1vw;
    align-self: flex-start;
    justify-self: flex-start;
    font-size: 25%;
    color:rgba(255, 255, 255, 0.854);
    width:90%;
    margin-bottom:10px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.61);
}

.episode{
    padding:1vw;
    margin-bottom:1vw;

}

.episode_header{
    width: 100%;
}

.episode_container{
    display: flex;
    flex-direction: column;
    border: solid rgb(223, 223, 223) 2px;
    padding-bottom: 1vh;
}

.episodes{
    min-width: 100%;
    overflow-y: auto;
    margin-bottom: auto;
}

.inactive_icon{
    filter: brightness(.8) saturate(0);
}

.chosenPlayer{
    filter: brightness(1.3) !important;
    margin-bottom:25px !important;
    transition: all .2s;
}

.playerimg{
    transition: all .2s;
}

.box-width{
    width:3.5vw;
    height:3.5vw;
}

#nextEpisodeButton{
    color: gold;
    font-size: 30%;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-bottom:30px;
}


#audienceButton{
    color: gold;
    font-size: 30%;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-bottom:30px;
}

.playerPollDiv{
    width:3.2vw;
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.playerPollDiv{
    width:3.2vw;
    height:200px;
}

.vote_bar{
    margin-top: auto;
    width: 2.5vw;
}

.vote_icon{
    margin-top: 5px;
    width: 3vw;
    height: 3vw;
    position: relative;
}

.vote_icon img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.vote_count{
    margin-top: 5px;
    font-size: 20%;
    margin-bottom: 5px;
}

#audiencePoll{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.audience{
    min-width: 100%;
    margin-top: auto;
    margin-bottom:15px;
    height: 22vh;
    position: relative;
}

.vote_bar_container{
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.audience_button_text{
    position: absolute;
    z-index:2;
    top:50%;
    left:50%;
    width: 100%;
    transform: translate(-50%,-50%);
}

.audience_button_image{
    height:100%;width:100%;object-fit:cover;
    z-index: 1;
    margin-bottom: -5px;
}

/*MAIN STAGE */
.stage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contestants{
    position: relative;
    width: 100%;
    height: 100%;
    padding:50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hiddenToBottom{
    transform:translate(0%, 100%) !important;
    transition: all 2.5s ease-in-out
}

.contestant{
    margin-top:15px;
    width:11vw;
    height: 100%;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transform:translate(0%, 0%);
    transition:all 2.5s ease-out;
}

.contestant img{
    max-width: 100%;
    max-height: 70vh;
}
.contestant_name{
    font-family: 'Signature', 'Authentic Signature' !important;
    text-align: center;
    font-size: 45%;
    width: 90%;
    word-break: break-word;
    padding-top:25px;
    padding: 10px;
    background: black;
    box-shadow: inset white 0px 0px 2px 5px;
}

#karaoke_machine{
    position: absolute;
    z-index: 1000;
    width: 75vw;
    transform: translate(0);
    transition: all 3.5s ease-in-out
}

#tvScreen{
    max-width: 100%;
    position: relative;

}

.hiddenTV{
    transform: translate(0, -100%) !important;
    transition: all 2.8s ease !important;
}

.hiddenFade{
    opacity: 0 !important;
    transition: all .4s ease;
}

#tvScreen>img{
    position: absolute;
    height: 100%;
    width: 100%;
    /*filter: brightness(.8);*/
}

#tvContentContainer>img{
    height: 100%;
    width: 100%;
}

#tvContent{
    padding: 150px;
    opacity: 1;
    transition: all 1s ease;
    width: calc(100% - 300px);
    height: 100%;
    margin-top: 180px;
    max-height: calc(100% - 560px);
    max-width: 100%;
    flex-direction: column;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    font-family: 'Pixeboy';
    color: gold;
}


/* Hide scrollbar for Chrome, Safari and Opera */
#tvContent::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #tvContent {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.tvArtist{
    width: 100%;
    text-align: center;
    color:rgb(221, 142, 255);
    -webkit-text-stroke: 2px rgb(79, 0, 110);
}

.tvLyric{
    color: white;
    text-align: center;
    position: absolute;
    max-width: 70%;
    font-size: 110%
    /* -webkit-text-stroke: 2px rgba(255, 255, 255, 0.654); */
}

.tvTitle{
    width: 100%;
    text-align: center;
    color:gold;
    font-size: 200%;
    -webkit-text-stroke: 2px rgb(48, 0, 114);
}

.tvText{
    color:white;
    text-align: left;
    /* -webkit-text-stroke: 2px rgba(255, 255, 255, 0.654); */
}

#tvContentContainer{
    width: 100%;
    height: 100%;

}

#winners{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 1;
    z-index: 9000;
    transition: all .5s ease-in-out;
    overflow-y: auto;
}

.resultTitle{
    position: relative;
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.resultTitle>p{
    position: absolute;
    margin-top:120vh;
    margin-left:4vh;
    font-size:45vh;
    opacity: .8;
    z-index: 10001;
    color:white;
    transform: rotate(90deg);
}

.resultTitle div{
    height:100%;
    width: 100%;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    filter: brightness(.95);
}

.resultTitle div>p{
    font-size: 55vh;
    text-align: left;
    margin-left: -5vh;
    overflow: hidden;
}

.result{
    position: relative;
    height:150vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resultBack{
    opacity: .6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.resultDiv{
    width: 90vw;
    height: 50vh;
    position: absolute;
    border: solid 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding:4vw;
    background-color: rgba(255, 255, 255, 0.973);
    transition: all 2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.29) 20px 20px 20px 20px;
}

.resultImg{
    height:100%;
    margin-left:5vw;
}

.resultText{
    font-size:7vh;
    margin:5vw;
    margin-top:0;
    margin-right: 0px;
}

.resultName{
    font-size:200%;
    font-weight: bold;
    filter:brightness(.8)
}
.resultPlace{
    font-size:100%;
    font-weight: bold;
}

.resultArrow{
    font-size:1020%;
    font-weight: bold;
    opacity: 1;
    /* filter: brightness(.5) saturate(300); */
}

.resultArrow:hover{
    opacity: .8;
    font-size:1120%;
}

.resultStory{
    font-style: italic;
    margin-top: 30px;
    font-size: 65%;
    padding-left:50px;
    filter:brightness(.3)
}