.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:row;
}

.loadScreen{
    background-color: rgba(0, 0, 0, 0.824);
}

#loading_players_div{
    width: 90%;
    height:80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.loading_player_div{
    height:100%;
    box-shadow: inset white 0px 0px 5px  5px;
    padding:5px;
    background: rgba(0, 0, 0, 0.76);
}

.loading_player_div img{

    max-width: 100%;
    height:100%;
    max-height: unset;
    object-fit: cover;
}

.loadLink{
    color:white;
}

.loading_player_div img:hover{
    opacity: .8;
    zoom: 1.3;
}
#audiosContainer{
    display: hidden;
}

#left_side{
    width: 75vw;
    
}

#right_side{
    max-height: 100vh;
    width:25vw;
    background:rgba(0, 0, 0, 0.735);
    border: solid 10px rgb(91, 0, 0);
    overflow-y: auto;
    overflow-x: hidden;
    align-items: flex-start;
}

.player_icon{
    width:3.5vw;
    height:3.5vw;
    position: absolute;
  top: 0%;
  left: 0%;
}

.origin_box{
    width:3.5vw;
    height:3.5vw;
    border: solid rgba(152, 152, 152, 0.329) 1px;
    position: relative;
    border-radius: 5px;
}

.destination_box{
    width:3.5vw;
    position: relative;
    height:3.5vw;
    border: solid rgb(255, 196, 0) 2px;
    border-radius: 5px;
    margin:2px;
}

.destination_box > img{
    filter: unset
}

.episode_members{
    padding:5px
}

.episode_advancements{
    margin-bottom:10px;
}

.episode_title{
    padding:1vw;
    align-self: flex-start;
    justify-self: flex-start;
    font-size: 25%;
    color:rgba(255, 255, 255, 0.854);
    width:90%;
    margin-bottom:10px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.61);
}

.episode{
    padding:1vw;
    margin-bottom:1vw;

}

.episode_header{
    width: 100%;
}

.episode_container{
    display: flex;
    flex-direction: column;
    border: solid rgb(223, 223, 223) 2px;
    padding-bottom: 1vh;
}

.episodes{
    min-width: 100%;
    overflow-y: auto;
    margin-bottom: auto;
}

.inactive_icon{
    filter: brightness(.8) saturate(0);
}

.box-width{
    width:3.5vw;
    height:3.5vw;
}

#nextEpisodeButton{
    color: gold;
    font-size: 30%;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-bottom:30px;
}


#audienceButton{
    color: gold;
    font-size: 30%;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-bottom:30px;
}

.playerPollDiv{
    width:3.2vw;
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.playerPollDiv{
    width:3.2vw;
    height:200px;
}

.vote_bar{
    margin-top: auto;
    width: 2.5vw;
}

.vote_icon{
    margin-top: 5px;
    width: 3vw;
    height: 3vw;
    position: relative;
}

.vote_icon img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.vote_count{
    margin-top: 5px;
    font-size: 20%;
    margin-bottom: 5px;
}

#audiencePoll{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.audience{
    min-width: 100%;
    margin-top: auto;
    margin-bottom:15px;
    height: 22vh;
    position: relative;
}

.vote_bar_container{
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.audience_button_text{
    position: absolute;
    z-index:2;
    top:50%;
    left:50%;
    width: 100%;
    transform: translate(-50%,-50%);
}

.audience_button_image{
    height:100%;width:100%;object-fit:cover;
    z-index: 1;
    margin-bottom: -5px;
}

/*MAIN STAGE */
.stage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contestants{
    width: 100%;
    height: 100%;
    padding:50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contestant{
    width:11vw;
    height: 100%;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contestant img{
    max-width: 100%;
    max-height: 70vh;
}
.contestant_name{
    font-family: 'Signature', 'Authentic Signature' !important;
    text-align: center;
    font-size: 55%;
    width: 100%;
}

